.block{
    /*margin: auto;*/
    margin-bottom: 20px;
    border-width: 3px;
    border-radius: 4px;
    text-align: center;
}
.news{
    text-align: center;
    margin-bottom: 50px;
}
#button{
    margin: auto;
}
.item{
    width: 600px;
    margin: auto;
}
*{
    text-align: center;
}
.pagination {
    text-align: center ;
}

.pagination a {
    color: black;
    border: 1px solid #ddd; /* Gray */
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4d9caf;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}